:root {
  --primary-color: rgba(158, 255, 237, 1);
}

html,
body {
  background: #111;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
}